.infocontainer {
    flex: 1;
    background-color: var(--bgSoft);
    color: var(--textSoft);
    height: max-content;
}

.formcontainer {
    flex: 3;
    background-color: var(--bgSoft);
    padding: 20px;
    border-radius: 10px;
}


form input, form select, form textarea {
    padding: 20px;
    border: 2px solid #2e374a;
    border-radius: 5px;
    background-color: var(--bg);
    color: var(--textSoft);
    margin: 10px 0;
}

form label{
    font-size: 12px;
}